html, body {
    margin:0;
    padding:0;
}

.jumbotron {
    background-image: url('../images/wot-masthead-dark.jpg');
    background-size: cover;
    padding-top: 0;
    margin-bottom: 0;
}

.jumbotron .topBar {
    max-width: 940px;
    margin: 0 auto;
    padding-top: 20px;
}

.navbar-collapse {
    display: inline-block;
    float: right;
    padding-top: 10px;
}

.navbar-collapse a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin-right: 20px;
    font-family: 'Lato', sans-serif;
}

.navbar-collapse a:hover {
    color: #bdd537;
}

.navbar-collapse .btn {
    background-color: #bdd537;
    border: none;
    width: 156px; 
}

.navbar-collapse .btn a {
    font-family: 'Lato', sans-serif;
}

.navbar-collapse .btn:hover {
    color: white;
    background-color: #cee64b;
}

.jumbotron .headline {
    max-width: 800px;
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
}

.headline h1, p {
    text-align: center;
    color: white;
    font-family: 'Lato', sans-serif;
}

#small {
    font-size: 22px;
    text-align: left;
    margin-bottom: 0;
}

.headline h1 {
    font-size: 152px;
    margin: 0;
}

#bottom {
/*    font-size: 18px;  need to change to a div around the paragraphs and span*/
}

#spanBar .bar {
    display: inline-block;
    background-color: white;
    width: 90px;
    height: 10px;
}

#spanBar {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

#spanBar p {
    font-size: 18px;
    padding: 0 50px;
}

#headOrange {
    color: #ff803a;
}

#headGreen {
    color: #bdd537;
}

.lrnMrBtn {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.lrnMrBtn .btn {
    background-color: #bdd537;
    border: none;
    width: 156px; 
}

.lrnMrBtn .btn:hover {
    color: white;
    background-color: #cee64b; 
}

.topText {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 30px 0;
}

.topText p, h2 {
    color: #40666d;
    font-family: 'Helvetica', sans-serif;
}

.topText p {
    font-size: 23px;
    font-weight: 300;
    line-height: 38px;
    padding: 0 12%;
}

#crossed {
  object-fit: none;
  object-position: -22px -113px;
  width: 75px;
  height: 75px;
  margin: 20px 0;
}

.topText h2 {
    font-family: 'Lato', sans-serif;
    font-size: 42px;
}

.topText h2 b {
    color: #bdd537;
}

.iconBox {
    position: relative;
    max-width: 1080px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 40px;
}

.iconBox .col-md-4 {
    text-align: center;
    margin-top: 75px;
}


.iconBox p {
    color: #40666d;
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
    line-height: 25px;
    padding: 0 15px;
}

.iconBox a {
    color: #bdd537;
    font-family: 'Helvetica', sans-serif;
}

.iconBox a:hover {
    color: #23999d;
    text-decoration: none;
}

.paraArrow, .paraLight, .paraPower {
    height: 280px;
}

.callAction {
    width: 150px;
    margin-left: 28%;
}

#lightbulb {
    object-fit: none;
    object-position: -301px -100px;
    width: 130px;
    height: 160px;   
}

#upArrow {
    object-fit: none;
    object-position: -210px -100px;
    width: 100px;
    height: 160px;      
}

#power {
    object-fit: none;
    object-position: -97px -100px;
    width: 130px;
    height: 160px;     
}

.arrow {
    object-fit: none;
    object-position: -44px -295px;
    width: 27px;
    height: 30px;
    margin: 20px 0; 
}

.iconBox .col:first-child {
    border-right: 1px solid lightgrey;
}

.iconBox .col:last-child {
    border-left: 1px solid lightgrey;
}

.weHelp {
    background-color: #f0f0f0;
    text-align: center;
}

.paragraphs {
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;

}

.paraBox {
    background-color: white;
/*    width: 450px;
    margin: 10px 10px;
    padding: 25px;*/
}

.weHelp p, h2 {
    color: #40666d;
    font-family: 'Helvetica', sans-serif;
}

.weHelp h2 {
    font-size: 42px;
    font-weight: 300;
    padding-top: 30px;
}

.weHelp h2 b {
    color: #bdd537;
}

.intro {
    font-size: 22px;
    margin-bottom: 50px;
}

.paraBox p {
    font-size: 24px;
    padding: 0 40px;
}

p.smaller {
    font-size:  16px;
}



