html, body {
    margin:0;
    padding:0;
}

.header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('Images/wot-masthead-dark.jpg');
    background-size: cover;
}

